<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JPA 게시판 목록</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<script src="https://kit.fontawesome.com/91729f376b.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="contents">
	<div class="div-logo">
	<a th:href="@{/}"><span class="logo"><i class="fas fa-igloo"></i></span></a>
	</div>
	<br>
	<div th:if="${keyword != null}">	<!-- 검색 결과 : 키워드가 있을 경우 -->    
   		<h1 class="search-result">검색 결과 : <span th:text="${keyword}"></span></h1>
   </div>
<div class="write">
<a th:href="@{/write}"><button class="write-btn">작성하기</button></a>
<br>
<br>
    <table th:if="${boardList.size()}" border=1 class="table">
        <thead>
        <tr>
            <th class="one wide">번호</th>
            <th>작성자</th>
            <th class="ten wide">글 제목</th>
            <th class="three wide">작성일</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <!-- CONTENTS !-->
        <tr th:each="board:${boardList}">
            <td>
                <span th:text="${board.id}"></span>
            </td>
            <td>
                <span th:text="${board.writer}"></span>
            </td>
            <td>
                <!--<a th:href="@{'/list/' + ${board.id}}">-->
                    <a th:href="@{'/detail/'} + ${board.id}"><span th:text="${board.title}"></span></a>
                <!--</a>-->
            </td>
            <td>
                <span th:text="${#temporals.format(board.created_at, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
            <td>
            	<a th:href="@{'/update/'+${board.id}}"><button>수정</button></a>
            </td>
            <td>
           		<form th:action="@{/delete/} + ${board.id}" th:method="post">
            	<button>삭제</button>
            	</form>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    
    
    <br>
    <hr>
    <h2 class="search-title">검색</h2>
    <form th:action="@{/search}" th:method="get" th:object="${board}">
    	<div class="search">
    		<input type="text" name="keyword" placeholder="검색할 제목을 입력해주세요">
    		<button>검색하기</button>
    	
    	</div>
    </form>
    
</div>
</div>
</body>
</html>