<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JPA 게시판 목록</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div id="contents">
    <table th:if="${boardList.size()}" border=1>
        <thead>
        <tr>
            <th class="one wide">번호</th>
            <th>작성자</th>
            <th class="ten wide">글제목</th>
            <th class="two wide">작성내용</th>
            <th class="three wide">작성일</th>
            <th class="four wide">수정일</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <!-- CONTENTS !-->
        <tr th:each="board:${boardList}">
            <td>
                <span th:text="${board.id}"></span>
            </td>
            <td>
                <span th:text="${board.writer}"></span>
            </td>
            <td>
                <!--<a th:href="@{'/list/' + ${board.id}}">-->
                    <span th:text="${board.title}"></span>
                <!--</a>-->
            </td>
            <td>
                <span th:text="${board.content}"></span>
            </td>
            <td>
                <span th:text="${#temporals.format(board.created_at, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
            <td>
            <span th:text="${#temporals.format(board.modified_at, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
            <td>
            	<a th:href="@{'/update/'+${board.id}}"><button>수정</button></a>
            </td>
            <td>
           		<form th:action="@{/delete/} + ${board.id}" th:method="post">
            	<button>삭제</button>
            	</form>
            </td>
            <!--<td>
            	<span th:text="${board.like_count}"></span>
            </td>
            <td>
            	<span th:text="${board.view_count}"></span>
            </td>
            <td>
            	<span th:text="${board.user_id}"></span>
            </td>
            <td>
            	<span th:text="${board.category_id}"></span>
            </td>-->
        </tr>
        </tbody>
    </table>
    
    <br>
    <div class="register">
    	<h2>글 작성</h2>
    	<form th:method="post" th:action="@{/}" th:object="${board}">
    		
    	<ul>
    		<li>
    		작성자
    		<input type="text" name= "writer" th:field="*{writer}"></li><br>
    		<li>제목<br>
    		<input type="text" name = "title" th:field="*{title}"></li><br>
    		<li>내용<br>
    		<textarea name="content" th:field="*{content}"></textarea>
    		
    	</ul><br>
    		<button type="submit">등록하기</button>
    	</form>
    </div>
    
    
</div>

</body>
</html>